<%- include ("partials/header") %>

<link rel="stylesheet" type="text/css" href="css/doctors.css">

<div id="content">
	<span id="doctors">Doctors . . .</span>
	<table>
		<tr>
    		<th>Name</th>
    		<th>Department</th>
			<th>Qualifications</th>
  		</tr>
		<tr>
			<td>Dr.Khaviya Venkatraj</td>
			<td>Cardiology</td>
			<td>MBBS, MD</td>
		</tr>
	</table>
</div>

<%- include ("partials/footer") %>